<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Telecomandas</h1>
      <div>
      Aplicación multiplataforma desarrollada para la asignatura de disoft. 2017-2018.
      <br>
      Desarrolladores: Pablo Moraga Navas y Juan Perea Campos.
      <br>
      Escuela Superior de Informática - Universidad de Castilla-La Mancha
      </div>
      </div>
    </div>
  </div>
</div>