<div class="oj-flex-bar-start">
  <oj-button id="drawerToggleButton" on-click="[[toggleDrawer]]" chroming="half" display="icons">
    <span slot="startIcon" class="oj-fwk-icon oj-fwk-icon-hamburger"></span>
    <span>Navigation Drawer</span>
  </oj-button>
</div>
<div role="heading" class="oj-hybrid-applayout-bar-title">
  <h1 class="oj-hybrid-applayout-header-title" data-bind="text: pageTitle"></h1>
</div>
<div class="oj-flex-bar-end">
  <a href="javascript: history.go(-1)">Atrás&nbsp;&nbsp;</a>
</div>