<meta charset="UTF-8">
<meta name="description" content="Telecomandas DEMBOIS">
<meta name="author" content="Pablo and Juan">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.fblogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}
</style>

<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
      <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
      </header>
    </div>
    <div class="oj-applayout-content">
      <div role="main" class="oj-hybrid-applayout-content">
        <div class="oj-hybrid-padding">
            <body> 
            <div class="center">
                  <h1 style="color:black; font-size:50px;"class="center">TELECOMANDAS DEMBOIS</h1>
                  <p class="center" style="font-size:25px;"><font color="black">Proyecto creado para la asignatura de Diseño Software</font></p>
                    <p class="center" style="font-size:25px;"><font color="black">Pablo Moraga Navas y Juan Perea Campos</font></p>
                    <div class="row center">
                        <div class="fblogo">
                            <img src="../../css/images/juan.jpg"  alt="Juan Perea Campos" width="206" height="206">
                        </div>
                        <div class="fblogo">
                            <img src="../../css/images/pablo.jpg"  alt="Pablo Moraga Navas" width="206" height="206">
                        </div>
                </div>
          </div>
        </body>  
        </div>
      </div>
    </div>
  </div>